.button {
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    min-width: 100px;
    width: max-content;
    height: max-content;
    cursor: pointer;
}