.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 520px;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    margin: 15px 0;
}