.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;

}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    margin: 15px 0;
}

.subTitle {
    margin: 15px 0;
}

.btnSection {
    display: flex;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    align-self: center;
}